body{
    font-family:Inter, ui-sans-serif, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
    margin:0;
    background: linear-gradient(to right,blue,white,orange); /* rgb(63, 62, 62)  */
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-font-smoothing:antialiased;
    flex-direction: column;
}
.title{
    margin-right:40px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 60px;
    border-style: double;
    border-width: thick;
    border-radius: 10px;
    margin-left: 50px;
    margin-top: 20px;
    color: black;
    border-color: #06b6d4;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    background-color: rgb(1, 120, 1);
    border-radius: 20px;
    border: 2px solid red;

}
label{
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}
.prediction-btn{
    margin-left: 80px;
    color: #4d4d4d;
    background-color: #e0e0e0;
    margin-top: 10px;
    padding: 15px 40px;
    cursor: pointer;
    font-family: monospace;
    font-weight: bold;
    border-radius: 100px;
    border: 2px solid rgb(206, 206, 206) ;
    box-shadow: inset 4px 4px 10px #bcbcbc,
        inset -4px -4px 10px #ffffff;
}
.prediction-btn:hover{
       box-shadow: inset 4px 4px 10px #bcbcbc,
            inset -4px -4px 10px #ffffff,
            2px 2px 10px #bcbcbc,
            -2px -2px 10px #bcbcbc;
}
.result{
    max-width: 400px;
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(1, 120, 1);
    color: white;
    padding: 20px;
    border-radius: 20px;
    margin-top: 20px;
    text-align: left;
    border: 2px solid yellow;
}
.teamA{
    font-weight: bold;
    border-radius:10px;
    background-color: #ffffff;
    padding: 10px;
}
.teamB{
    font-weight: bold;
    background-color: #ffffff;
    border-radius: 10px ;
    padding: 10px;
}
.topbar{
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 100;
    background: var(--card);
    box-shadow: 0 2px 16px rgba(36, 41, 53, 0.13);
    border: #1e0786;
    background-color: rgb(27, 27, 27);
    display: flex;
    align-items: center;
    min-height: 58px;
    border-bottom: 1px solid rgba(255,255,255,0.04);
    margin-left:auto ;
}
.football-prediction-btn{
    background-color: grey;
    border: 25px;
    font-weight: bold;
    font-size: 15px;
}
.topbar-logo{
    background:linear-gradient(135deg,#6366f1,#06b6d4);
    width: 44px;
    height: 44px;
    margin-left: 10px;
    margin-right: 10px;
    opacity: 0.9;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-weight: 550;
    color: black;
    font-weight:bold ;
    font-size: 20px;
}
.topbar-lists{
    display: flex;
    gap: 8px;
    background-color: #06b6d4;
    border-radius: 10px;
    border: #06b6d4;
}
.topbars{
    border: #06b6d4;
    background-color: #000000;
    color: white;
    width: 44px;
    height: 44px;
    border-radius: 10px;
    font-weight: 550;
    max-width: 100%;
    cursor: pointer;
}
.topbars.active {
    background-color: pink;
    border: #000000;
    border-color:#000000;
    border-radius: 10px;
    color: white;
}
.topbar .topbar-lists{margin: 0 0 0 24px;}
.main-layout{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 60px;
    width: 100%;
    margin-top: 80px;
}
.back-btn{
    position: fixed;
    background-color: #06b6d4;
    border-style: double;

}
#betting-block{
    background: #222;
    color: white;
    padding: 20px;
    margin-top: 25px;
    border-radius: 20px;
    border: #06b6d4;
    width: 320px;
    text-align: left;
}
.odds-box{
    margin-bottom: 15px;
    background: #333;
    border-radius: 8px;
    padding: 10px;
}
.bet-form input, .bet-form select{
    padding: 10px;
    background: #333;
    color: white;
    border-radius:8px ;
    border: none;
    width: 100%;
}
.bet-form button{
    width: 100%;
    padding: 10px;
    background: #06b6d4;
    color: white;
    border: none;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
}
.bet-form button :hover{
    background: #048da6;
}
.panel{
    display: none;
}
.panel.active{
    display: block;
}